@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --drop-shadow-primary: 0 0 4px var(--primary);
  --drop-shadow-secondary: 0 0 4px var(--secondary);
  --drop-shadow-foreground: 0 0 4px var(--foreground);
}

:root {
  --background: #161E2F;
  --foreground: #F8FAFC;

  --primary: #4264a2;
  --primary-foreground: #F8FAFC;
  --secondary: #FFA586;
  --secondary-foreground: #F8FAFC;

  --muted: #52606f;
  --radius: 0.75rem;
}

body {
 @apply text-foreground bg-background 
}

* {
  @apply cursor-none
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background); 
}

::-webkit-scrollbar-thumb {
  background: var(--backgroud); 
}